/*Brand
SCSS variable	Hex code*/
// $ds_colour__brand:#0065bd;
$ds_colour__brand:#412A45;
$ds_colour__brand--secondary:#002d54;
/*Text
SCSS variable	Hex code*/
$ds_colour__text:#333333;
$ds_colour__text--secondary:#727272;
/*Links
SCSS variable	Hex code*/
$ds_colour__link:#412A45;
$ds_colour__link--hover:#38193e;
$ds_colour__link--hover__background:#f2e0f5;
$ds_colour__link--current:#333333;
$ds_colour__link--current__background:#f8f8f8;
/*Focus
SCSS variable	Hex code*/
$ds_colour__link--focus:#333333;
$ds_colour__link--focus__background:#fdd522;
/*Positive and negative messaging
SCSS variable	Hex code*/
$ds_colour__state--negative:#d32205;
$ds_colour__state--positive:#428542;
/*Borders
SCSS variable	Hex code*/
$ds_colour__border:#b3b3b3;
$ds_colour__border--dark:#333333;
$ds_colour__border--light:#ebebeb;
$ds_colour__border--highlight:#0065bd;
/*custom */
$ds_bg_darkgray:#333333;
$ds_bg_darkred:#942514;
$ds_bg_lightgray:#FAFAF9;
$ds_bg_blue-button:#0065BD;
$ds_primarytext:#5A3A61;
$ds_themeblue_link_color:#000885;

@import "../../node_modules/@scottish-government/pattern-library/dist/css/pattern-library";
@import "../../node_modules/@scottish-government/pattern-library/src/pattern-library";
@import "../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
   font-size: 0.85rem; 
   font-family: 'Roboto', sans-serif;
   @media only screen and (min-width: 768px) {
    font-size: 1rem; 
   }
}
a:hover {
    text-decoration: initial;
}
.ds_bg_darkred { 
    background-color: $ds_bg_darkred;
    color:#fff;
    text-align: left;
}
.ds_site-header--gradient::before {
    background: none;
}
.ds_site-footer__site-items {
    border: none;
}
.ds_top_band {
    min-height: 40px;
    padding: 5px 0px;
    p {
        margin: 0;
        a {
            font-weight: bold;
            text-decoration: underline;
            color: #ffffff;
        }
    }
}
.ds_textcolor-primary{
    color: $ds_primarytext;
}
.ds_bg_bluebutton{
    background-color:$ds_bg_blue-button;
}
.leave-site-box {
    position: fixed;
    bottom: 89px;
    right: 8px;
    .ds_button {
        margin: 0;
        padding: 5px 15px;
        height: 25px;
        min-height: 43px;
        min-width: 129px;
        background-color: $ds_bg_darkred;
        display: flex;
        align-items: center;
        &:focus {
            background-color:$ds_colour__link--focus__background
        }
    }
}
.ds_site-header {
    background-color: $ds_colour__brand;
    .ds_site-branding{
        min-height: 90px;
    }
    .ds_site-header__navigation{
        background-color: #fff;
    }
    .ds_branding_logo-content {
        display: flex;
        align-items: center;
        .ds_site-branding__logo-image{
            border-right: 1px solid #fff;
            margin-right: 1rem;
            padding-right: 1rem;
        }
        .ds_logo-text{
            color: #fff;
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}
.ds_page__middle {
    &.get_started {
        .card-content {
            display: flex;
            .icon {
                margin-right: 0.75rem;
            }
            .content-text {
                a {
                    color:$ds_themeblue_link_color;
                }
            }
        }
        .ds_main{
            .content-text {
                a {
                    color:$ds_themeblue_link_color;
                }
            }
            p {
                a {
                    color:$ds_themeblue_link_color;
                }
            }
        }
    }
    .ds_site-header__searchpage {
        max-width: 750px;
    }
    .ds_main{
        p,address {
            a:not(.ds_button) {
                color:$ds_themeblue_link_color;
                font-weight: 500;
            }
            a.ds_button {
                margin-bottom: 0;
            }
        }
    }
    .ds_banner {
        background-color: $ds_colour__brand;
        min-height: 400px;
        color:#fff;
        .ds_wrapper {
            height:100%;
            .ds_feature-header__primary {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .ds_feature-header__title {
                    font-size: 2.2rem;
                    line-height: 1.2;
                    font-weight: bold;
                }
            }
        }
        
    }
    .ds_bg_darkgray { 
        background-color: $ds_bg_darkgray;
        color:#fff;
        text-align: center;
    }
    .ds_bg_lightgray { 
        background-color: $ds_bg_lightgray;
        padding: 2rem 0rem;
        .ds_title {
            margin-bottom: 0.5rem;
        }
        button {
            margin: 0.25rem 0px;
        }
    }
    .ds_filter-section {
        .ds_accordion-item__header {
            color:$ds_themeblue_link_color;
        }
        .ds_accordion-item__body {
            padding: 0px 0px 0 15px;
            padding-top: 5px;
            .ds_field-group {
                margin: 0.5rem 0;
            }
            .ds_radio, .ds_checkbox {
                margin-bottom: 0px;
            }
            .ds_radio__label {
                margin: 0;
            }
        }
        padding-left: 3rem;
        position: relative;
        padding-bottom: 1.5rem;
        .circle{
            position: absolute;
            left: 0;
            top: 0;
            height: 34px;
            width: 34px;
            background-color: #fff;
            border: 1px solid #B1B4B6;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 0;
            width: 0;
            height: 100%;
            border-left: solid 1px #b1b4b6;
            top: 20px;
            left: 0.95rem;
        }
        &:last-child{
            
            &:after {
                content: "";
                display: none;
            } 
        }
    }
    .ds_filter-badges {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        li {
            display: flex;
            align-items: center;
            border: 1px solid #0b0c0c;
            padding: 1px 5px;
            margin-right: 0.75rem;
            margin-bottom: 0.5rem;
            &:hover {
                background-color: #0b0c0c;
                color:#ffffff;
            }
            .ds_close {
                i {
                    font-size: 1.2rem;
                    vertical-align: sub;
                }
                &:focus {
                    background-color: #fdd522;
                }
            }
        }
    }
    .ds_main {
        padding: 2rem 0rem;
        .ds_filter-row {
            display: flex;
            align-items: normal;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
            }
            .ds_service-type, .ds_sort-by {
                flex: 2;
            }
            .ds_btn-filter {
                flex: 1;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 767px) {
                    justify-content: start;
                }
                align-items: flex-end;
                .ds_button {
                    height: 48px;
                    padding: 12px 16px;
                    &::before {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 15%;
                        height: 2px;
                        background-color: $ds_colour__brand;
                        left: 43%;
                        top: -20%;
                        z-index: -1;
                        transform: rotate(90deg);
                        @media only screen and (max-width: 767px) {
                            display: none;
                        }

                    }
                    &::after {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 15%;
                        height: 2px;
                        background-color: $ds_colour__brand;
                        right: 41%;
                        bottom: -20%;
                        z-index: -1;
                        transform: rotate(90deg);
                        @media only screen and (max-width: 767px) {
                            display: none;
                        }
                    }
                }
                
                
            }
        }
        .ds_section {
            .ds_content {
                display: flex;
                flex-wrap: wrap;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                }
                .ds_services-list { 
                    .ds_accordion-item {
                        border: 0;
                        .ds_accordion-item__header {
                            // background: none;
                            color:$ds_themeblue_link_color;
                            box-shadow: none;
                            .ds_accordion-item__title {
                                display: inline-block;
                                min-width: 300px;
                            }
                            .ds_accordion-item__indicator {
                                position: initial;
                            }
                        }   
                        
                        
                    }
                }
                & >div {
                    flex-basis: 100%;
                    max-width: 80%;
                    /* display: block; */
                    padding: 8px 12px;
                    margin-bottom: 1rem;
                    position: relative;
                    &.hr-line{
                        max-width: 100%; 
                        hr {
                            border-top: 1px solid #D7D7D7;
                        }
                    }
                }
            }
        }
        .home_services-list{
            h5 {
                margin-bottom: 0.50rem;
            }
            ul {
                li{
                    margin-bottom: 0.25rem;
                }
            }
            p {
                margin-bottom: 0.25rem;
            }
            u{
                text-decoration: underline;
            }
        }
    }
}
.ds_site-footer {
    background-color: $ds_colour__brand;
    color: #ffffff;
    padding-bottom: 1rem;
    .ds_site-items__item {
        a {
            color:#ffffff;
        }
    }
    .ds_branding_logo-content {
        display: flex;
        align-items: center;
        .ds_site-branding__logo-image{
            border-right: 1px solid #fff;
            margin-right: 1rem;
            padding-right: 1rem;
        }
        .ds_logo-text{
            color: #fff;
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}
/* @print css */
@media print {
    body {
        background: none;
        color: black;
    }
    #page {
        width: 100%;
        margin: 0; padding: 0;
        background: none;
        margin: 2cm;
    }
    .ds-page, .ds_page__top, .ds_page__middle, .ds_page__bottom {
        display: block;
    }
    .home_services-list {
        columns: 2;
        column-gap: 2cm;
    }
    .ds_page__top, .ds_site-footer, nav, .leave-site-box {
        display: none;
    }
    h4 {
        break-after: avoid;
      }
    .preview-action {
        display: none;
    }
}